.cabecalho{
    background-color: #424E61;
    color: white; white;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding: 24px 0;sss

}

.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista{

}s
.cabecalho-lista-item{




}
